body {
	background-color: black;
	min-height: 1800px;
}

#logo
{
	height:7vw;
	margin: 15px;
}

@font-face
{
	font-family: IFA;
	src: url(./IMG/BaileySans.ttf);
}

@media only screen and (min-width: 993px)
{
	nav a.button-collapse 
	{
		display: block;
	}
}